.sobreEsq,
.sobreDir {
    display: inline-flex;
}

.fotoEsq {
    max-width: 25%;
    height: auto;
}

.fotoDir {
    max-width: 25%;
    height: auto;
}

.paragrafo {
    margin: 15px;
}

p {
    text-align: justify;
    font-size: 13pt;
    text-indent: 40px;
}